#page_title{
    text-align: center;
}
#page_main_body{
    display: flex;
    gap: 20px;
}
#console_table{
    border: 3px solid red;
    border-radius: 20px;
    padding: 10px;
    flex-grow: 1;
}
#message_box{
    padding: 15px 5px;
    border: 3px solid red;
    border-radius: 20px;
}
#message_list{
    height: 70vh;
    overflow-y: scroll;
}
#user_input{
    align-items: center;
    display: flex;
    padding: 10px 15px;
    border: 2px solid rgba(105, 91, 91, 0.502);
    border-radius: 20px;
    margin-top: 20px;
}
#text_input{
    font-size: large;
    border: none;
    outline: none;
    width: 60vw;
    background-color: white;
}
#user_input:hover{
    border: 2px solid blue;
}
#message_list::-webkit-scrollbar-track {
    display: none;
}
#message_list::-webkit-scrollbar-thumb {
    background-color: #b5696992;
    border-radius: 5px;
}
#message_list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
#message_list::-webkit-scrollbar {
    width: 6px;
}
#message_list::-webkit-scrollbar-button{
    display: none;
}
#input_button{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("img/send-message.png");
    background-size: cover; 
    background-position: center; 
    border: none;
    background-color: white;
}
#input_button:hover{
    cursor: pointer;
    border-radius: 0px; 
}
#popup-box {
    padding: 20px 40px;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    position: absolute;
    top: -50px;
    right: 20px;
    opacity: 0;
    transition: top 1s ease-in-out, opacity 1s ease-in-out; 
}
#popup-box.visible {
    top: 50px;
    opacity: 1;
}

.user_msg{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 30px 15px;
}

.user_msg_content{
    padding: 20px;
    border-radius: 20px;
    margin-top: 0px;
    margin-right: 10px;
    background-color: #d2d0ff;
    max-width: 600px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.ai_msg{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 15px;
}

.ai_msg_content{
    padding: 20px;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 10px;
    background-color: rgba(255, 128, 172, 0.728);
    max-width: 600px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
}

.ai_avatar {
    width: 40px;
    height: 40px;
}

.info_table {
    width: 100%;
    border-collapse: collapse;
}
.info_table th, .info_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.info_table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.info_table th {
    background-color: #4CAF50;
    color: white;
}